<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezultat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
</head>
<body>
    <main class="container">
       <p class="lead">
           <h1>Seznam sporočil</h1>
        {% for s in sporocila %}
        <p>
            <a href="/sporocilo/{{ s.key.id() }}">
            {{ s.vnos }}
            </a>
            <a href="/sporocilo/{{ s.key.id() }}/uredi">Uredi</a>
            <a href="/sporocilo/{{ s.key.id() }}/izbrisi" onclick="return confirm('Čisto zares?');">Izbriši</a>
        </p>
        {% endfor %}
       </p>
    </main>
</body>
</html>